@using Neumont_Ticketing_System.Views.Tickets;
@using System.Globalization;
@{
    ViewData["Title"] = "Ticket Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="~/js/TicketManager.js" type="text/javascript"></script>
}
<link href="~/css/TicketManager.css" rel="stylesheet" type="text/css" />

<h1>Ticket Manager</h1>

<div class="ticketList">
    <div class="listHeader">
        <h2 class="listHeaderItem listHeaderText">Open Tickets</h2>
        <div class="listHeaderItem headerBtnContainer">
            <button id="newTicket" onclick="window.location.href = '/Tickets/NewTicket';">New Ticket</button>
        </div>
    </div>
    <div class="tableHeader">
        <div class="tableHeaderTextContainer">
            <div class="rowItem" id="checkboxSpacer"></div>
            <p class="rowItem tableHeaderText">
                Owner's Name
            </p>
            <p class="rowItem tableHeaderText">
                Asset Serial
            </p>
            <p class="rowItem tableHeaderText">
                Loaner
            </p>
            <p class="rowItem tableHeaderText">
                Repair Name
            </p>
            <p class="rowItem tableHeaderText">
                Date Opened
            </p>
            <div class="rowItem" id="buttonSpacer"></div>
        </div>
    </div>
    <div class="tableBody">
        @foreach (TicketEntry ticket in Model.Tickets ?? new List<TicketEntry>())
        {
            <div class="tableRow" ticket-id="@(ticket.Id)">
                <div class="rowItem checkboxCtr">
                    <input type="checkbox" class="checkbox" />
                </div>
                <p class="rowItem tableBodyText ownerName">
                    <span title="@(ticket.OwnerPreferredName)">
                        @(ticket.OwnerName)
                    </span>
                </p>
                <p class="rowItem tableBodyText assetSerial">@(ticket.AssetSerial)</p>
                @if (ticket.PrimaryLoanerName != null)
                {
                    <p class="rowItem tableBodyText loanerName">@(ticket.PrimaryLoanerName)</p>
                }
                else
                {
                    <p class="rowItem tableBodyText loanerName">None</p>
                }
                <p class="rowItem tableBodyText repairName">@(ticket.RepairName)</p>
                <p class="rowItem tableBodyText dateOpened">
                    <span title="@(ticket.DateOpened.ToString(new CultureInfo("en-us")))">
                        @(ticket.DateOpened.ToString("d"))
                    </span>
                </p>
                <div class="rowItem ticketBtnContainer">
                    <button class="btnEmailOwner" title="Email Owner">Email</button>
                    <button class="btnEditTicket" title="Edit Ticket"
                            onclick="@($"window.location.href = '/Tickets/EditTicket?ticketId={ticket.Id}'")">
                        Edit
                    </button>
                    <button class="btnDeleteTicket" title="Delete Ticket">Delete</button>
                </div>
            </div>
        }
    </div>
</div>