@model Neumont_Ticketing_System.Views.Settings.AssetDefinitionsModel
@{
    ViewData["Title"] = "AssetDef";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="~/js/AssetDefinitions.js" type="text/javascript"></script>
    <script src="~/js/commonUtilities.js" type="text/javascript"></script>
    <script src="~/js/expandableInputList.js" type="text/javascript"></script>
    <script src="~/js/expandableItemList.js" type="text/javascript"></script>
}

<link href="~/css/expandableItemList.css" rel="stylesheet" type="text/css" />

<h1>Asset Definitions</h1>

<div class="list" id="typesList">
    <h2 class="listTitle">Asset Types</h2>
    @if (Model.AssetTypes.Count > 0)
    {
        @for (int i = 0; i < Model.AssetTypes.Count; i++)
        {
            var type = Model.AssetTypes[i];
            <div class="listItem typeContainer">
                <div class="inputContainer">
                    <p class="inputLabel">Name: </p>
                    <input class="text-box single-line nameInput" id=@($"type{i}_Name")
                           name=@($"type{i}_Name") type="text" value="@(type.Name)" old-value="@(type.Name)"
                           original-value="@(type.Name)" />
                </div>
                <div class="inputContainer">
                    <p class="inputLabel">Description: </p>
                    <input class="text-box single-line descriptionInput" id=@($"type{i}_Description")
                           name=@($"type{i}_Description") type="text" value="@(type.Description)"
                           old-value="@(type.Description)" />
                </div>
            </div>
        }
    }
    else
    {
        <div class="listItem typeContainer">
            <div class="inputContainer">
                <p class="inputLabel">Name: </p>
                <input class="text-box single-line nameInput" id="type0_Name" name="type0_Name"
                       type="text" />
            </div>
            <div class="inputContainer">
                <p class="inputLabel">Description: </p>
                <input class="text-box single-line descriptionInput" id="type0_Description" name="type0_Description"
                       type="text" />
            </div>
        </div>
    }
    <div class="listItem btnAddListItemContainer">
        <button class="btnAddListItem" id="btnNewType">Add Type</button>
    </div>
</div>

<div class="list" id="manufacturersList">
    <h2 class="listTitle">Asset Manufacturers</h2>
    @if (Model.AssetManufacturers.Count > 0)
    {
        @for (int i = 0; i < Model.AssetManufacturers.Count; i++)
        {
            var mfr = Model.AssetManufacturers[i];
            <div class="listItem manufacturerContainer">
                <div class="inputContainer">
                    <p class="inputLabel">Name: </p>
                    <input class="text-box single-line nameInput" id=@($"mfr{i}_Name")
                           name=@($"mfr{i}_Name") type="text" value="@(mfr.Name)"
                           old-value="@(mfr.Name)" original-value="@(mfr.Name)">
                </div>
                <div class="inputContainer phoneNumberContainer" id=@($"mfr{i}_PhoneNumbers")>
                    <p class="inputLabel">Phone Numbers: </p>
                    @for (int j = 0; j <= mfr.PhoneNumbers.Count; j++)
                    {
                        if (j >= mfr.PhoneNumbers.Count)
                        {
                            <input class="text-box single-line expandableListInput phoneNumberInput"
                                   id=@($"mfr{i}_PhoneNumbers_{j}")
                                   name="@($"mfr{i}_PhoneNumbers_{j}")" type="tel" />
                        }
                        else
                        {
                            <input class="text-box single-line expandableListInput phoneNumberInput"
                                   id=@($"mfr{i}_PhoneNumbers_{j}")
                                   name="@($"mfr{i}_PhoneNumbers_{j}")" type="tel"
                                   value="@(mfr.PhoneNumbers[j])" />
                        }
                    }
                </div>
                <div class="inputContainer emailAddressContainer" id=@($"mfr{i}_EmailAddresses")>
                    <p class="inputLabel">Email addresses: </p>
                    @for (int j = 0; j <= mfr.EmailAddresses.Count; j++)
                    {
                        if (j >= mfr.EmailAddresses.Count)
                        {
                            <input class="text-box single-line expandableListInput emailAddressInput"
                                   id=@($"mfr{i}_EmailAddresses_{j}")
                                   name=@($"mfr{i}_EmailAddresses_{j}") type="email" />
                        }
                        else
                        {
                            <input class="text-box single-line expandableListInput emailAddressInput"
                                   id=@($"mfr{i}_EmailAddresses_{j}")
                                   name=@($"mfr{i}_EmailAddresses_{j}") type="email"
                                   value="@(mfr.EmailAddresses[j])" />
                        }
                    }
                </div>
            </div>
        }
    }
    else
    { @* Blank model inserted when no manufacturers are defined *@
    <div class="listItem manufacturerContainer">
        <div class="inputContainer">
            <p class="inputLabel">Name: </p>
            <input class="text-box single-line" id="mfr0_Name" name="mfr0_Name"
                   type="text" />
        </div>
        <div class="inputContainer phoneNumberContainer" id=@($"mfr0_PhoneNumbers")>
            <p class="inputLabel">Phone Numbers: </p>
            <input class="text-box single-line expandableListInput phoneNumberInput"
                   id=@($"mfr0_PhoneNumbers_0")
                   name=@($"mfr0_PhoneNumbers_0") type="tel" />
        </div>
        <div class="inputContainer emailAddressContainer" id=@($"mfr0_EmailAddresses")>
            <p class="inputLabel">Email addresses: </p>
            <input class="text-box single-line expandableListInput emailAddressInput"
                   id=@($"mfr0_EmailAddresses_0")
                   name=@($"mfr0_EmailAddresses_0") type="email" />
        </div>
    </div>
}
    <div class="listItem btnAddListItemContainer">
        <button class="btnAddListItem" id="btnNewManufacturer">Add Manufacturer</button>
    </div>
</div>

<div class="list" id="modelsList">
    <h2 class="listTitle">Asset Models</h2>
    @if (Model.AssetModels.Count > 0)
    {

        @for (int i = 0; i < Model.AssetModels.Count; i++)
        {
            var mdl = Model.AssetModels[i];
            <div class="listItem modelContainer">
                <div class="inputContainer">
                    <p class="inputLabel">Name: </p>
                    <input class="text-box single-line nameInput" id=@($"mdl{i}_Name")
                           name=@($"mdl{i}_Name") type="text" value="@(mdl.Name)"
                           old-value="@(mdl.Name)" original-value="@(mdl.Name)">
                </div>
                <div class="inputContainer">
                    <p class="inputLabel">Model Number: </p>
                    <input class="text-box single-line modelNumberInput" id=@($"mdl{i}_ModelNumber")
                           name=@($"mdl{i}_ModelNumber") type="text" value="@(mdl.ModelNumber)"
                           old-value="@(mdl.ModelNumber)">
                </div>
                <div class="inputContainer">
                    <p class="inputLabel">Type: </p>
                    <select class="typeSelector" name=@($"mdl{i}_Type") id=@($"mdl{i}_Type")>
                        @for (int j = 0; j < Model.AssetTypes.Count; j++)
                        {
                            var type = Model.AssetTypes[j];
                            <option value="@(type.Name)"
                                    selected=@(mdl.TypeId.Equals(type.Id))>
                                @(type.Name)
                            </option>
                        }
                    </select>
                </div>
                <div class="inputContainer">
                    <p class="inputLabel">Manufacturer: </p>
                    <select class="manufacturerSelector" name=@($"mdl{i}_Manufacturer") id=@($"mdl{i}_Manufacturer")>
                        @for (int j = 0; j < Model.AssetManufacturers.Count; j++)
                        {
                            var mfr = Model.AssetManufacturers[j];
                            <option value="@(mfr.Name)"
                                    selected="@(mfr.Id.Equals(mdl.ManufacturerId))">
                                @(mfr.Name)
                            </option>
                        }
                    </select>
                </div>
            </div>
        }
    }
    else
    { @* Blank model inserted when no models are defined *@
    <div class="listItem modelContainer">
        <div class="inputContainer">
            <p class="inputLabel">Name: </p>
            <input class="text-box single-line nameInput" id="mdl0_Name" name="mdl0_Name"
                   type="text" />
        </div>
        <div class="inputContainer">
            <p class="inputLabel">Model Number: </p>
            <input class="text-box single-line" id="mdl0_ModelNumber" name="mdl0_ModelNumber"
                   type="text" />
        </div>
        <div class="inputContainer">
            <p class="inputLabel">Type: </p>
            <select class="typeSelector" name=@($"mdl0_Type") id=@($"mdl0_Type")>
                @for (int j = 0; j < Model.AssetTypes.Count; j++)
                {
                    var type = Model.AssetTypes[j];
                    <option value="@(type.Name)">@(type.Name)</option>
                }
            </select>
        </div>
        <div class="inputContainer">
            <p class="inputLabel">Manufacturer: </p>
            <select class="manufacturerSelector" name=@($"mdl0_Manufacturer") id=@($"mdl0_Manufacturer")>
                @for (int j = 0; j < Model.AssetManufacturers.Count; j++)
                {
                    var mfr = Model.AssetManufacturers[j];
                    <option value="@(mfr.Name)">@(mfr.Name)</option>
                }
            </select>
        </div>
    </div>
}
    <div class="listItem btnAddListItemContainer">
        <button class="btnAddListItem" id="btnNewModel">Add Model</button>
    </div>
</div>

<button id="submit">Submit</button>